.certificationRequest-tile {
    border: 1px solid #393f4d;
    border-radius: .25rem;
    display: block;
} 
.slds-card {
    border: 1px solid #9b724b;
    background-color: #f5ebe1;
}
/* .slds-card {
    border: 1px solid #d2955d;
    background-color: #fbf6f0;
    transition: border 0.5s, background-color 0.5s;
} */

.slds-card__header {
    padding: .5rem 1rem;
    border-bottom: 2px solid #dbd9d2;
    border-radius: 4px 4px 0 0;
    background-color: #393f4d;
    color: #d4d4dc;
}

.certificationRequestImage {
    height: 100px;
}

.boxImage {
    height: 30px;
}